@charset "UTF-8";
*{
    margin: 0;
    padding:0;
}
#main{
    position: relative;
}
.box{
    padding: 15px 0 0 15px;
    float: left;
}
.box .pic{
    width: 165px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.box .pic img{
    width: 100%;
    height: 100%;
}